@import '~@/styles/lego-ui-theme.scss';

$navHeaderHeight: 64px;

$side-prefix-cls: #{$prefix}pro-side;

@mixin sidebarThemeLight ($bg-color) {
    background-color: $bg-color;
}

@mixin sidebarThemeDark ($bg-color) {
    background-color: $bg-color;
}

@mixin sidebarThemePrimary ($bg-color) {
    background-color: $bg-color;
}

.legoProSidebarLight {
    @include sidebarThemeLight($background-color-light)
}

.legoProSidebarDark {
    @include sidebarThemeDark($dark-background-color)
}

.legoProSidebarPrimary {
    @include sidebarThemePrimary($primary-color)
}

.legoProSidebarContainer {
    min-height: 100vh;
}

.legoProSidebarLogo {
    position: relative;
    overflow: hidden;
    color: $text-color-base;
    height: $navHeaderHeight;
    line-height: 40px;
    padding-left: 20px;
}

.legoProSidebarLogoIcon {
    max-width: 32px;
    vertical-align: middle
}

.legoProSidebarLogoTitle {
    display: inline-block;
    margin: 0 0 0 12px;
}


