@import '~lego-ui/dist/lib/styles/variables';

:global {
    .#{$prefix}icon-arrow-down:before {
        content: "\e7bd";
    }

    .#{$prefix}icon-arrow-down-insert:before {
        content: "\e7be";
    }

    .#{$prefix}icon-arrow-left:before {
        content: "\e7bf";
    }

    .#{$prefix}icon-arrow-left-insert:before {
        content: "\e7c0";
    }

    .#{$prefix}icon-arrow-left-double:before {
        content: "\e7c1";
    }

    .#{$prefix}icon-arrow-right:before {
        content: "\e7c2";
    }

    .#{$prefix}icon-arrow-right-insert:before {
        content: "\e7c3";
    }

    .#{$prefix}icon-arrow-top-insert:before {
        content: "\e7c4";
    }

    .#{$prefix}icon-arrow-right-double:before {
        content: "\e7c5";
    }

    .#{$prefix}icon-avatar:before {
        content: "\e7c6";
    }

    .#{$prefix}icon-arrow-top:before {
        content: "\e7c7";
    }

    .#{$prefix}icon-check:before {
        content: "\e7c8";
    }

    .#{$prefix}icon-close:before {
        content: "\e7c9";
    }

    .#{$prefix}icon-calendar:before {
        content: "\e7ca";
    }

    .#{$prefix}icon-error-fill:before {
        content: "\e7cb";
    }

    .#{$prefix}icon-account:before {
        content: "\e7cc";
    }

    .#{$prefix}icon-filter:before {
        content: "\e7cd";
    }

    .#{$prefix}icon-eye-close:before {
        content: "\e7ce";
    }

    .#{$prefix}icon-error:before {
        content: "\e7cf";
    }

    .#{$prefix}icon-info:before {
        content: "\e7d0";
    }

    .#{$prefix}icon-eye:before {
        content: "\e7d1";
    }

    .#{$prefix}icon-info-fill:before {
        content: "\e7d2";
    }

    .#{$prefix}icon-omit:before {
        content: "\e7d3";
    }

    .#{$prefix}icon-plus:before {
        content: "\e7d4";
    }

    .#{$prefix}icon-rocket:before {
        content: "\e7d5";
    }

    .#{$prefix}icon-fetching:before {
        content: "\e7d6";
    }

    .#{$prefix}icon-password:before {
        content: "\e7d7";
    }

    .#{$prefix}icon-img-figure:before {
        content: "\e7d8";
    }

    .#{$prefix}icon-star:before {
        content: "\e7d9";
    }

    .#{$prefix}icon-time:before {
        content: "\e7da";
    }

    .#{$prefix}icon-success-fill:before {
        content: "\e7db";
    }

    .#{$prefix}icon-search:before {
        content: "\e7dc";
    }

    .#{$prefix}icon-success:before {
        content: "\e7dd";
    }

    .#{$prefix}icon-warning:before {
        content: "\e7de";
    }

    .#{$prefix}icon-spin:before {
        content: "\e7df";
    }

    .#{$prefix}icon-process:before {
        content: "\e7e0";
    }

    .#{$prefix}icon-no-data:before {
        content: "\e7e1";
    }

    .#{$prefix}icon-warning-fill:before {
        content: "\e7e2";
    }
}