@import '~@/styles/variables.scss';

.sideLayoutContainer {
    min-height: 100vh !important;
    background: $background-color-base;
}

.basicLayoutAside {
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.08);

    &:global(.dark) {
        background-color: $dark-background-color;
    }

    &:global(.light) {
        background-color: $background-color-light;
    }

    &:global(.primary) {
        background-color: $primary-color;
    }
}
